
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>GetAll</h2>

<table class="table" id="tableUsuario">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Fecha Nacimiento</th>
        </tr>
    </thead>
    <tbody>

        @*@foreach (ML.Usuario usuario in Model.Usuarios)
            {
                <tr>
                    <th scope="row">@usuario.IdUsuario</th>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.ApellidoPaterno</td>
                    <td>@usuario.ApellidoMaterno</td>
                    <td>@usuario.FechaNacimiento</td>
                </tr>
            }*@
    </tbody>
</table>

@Scripts.Render("~/bundles/jquery")

<link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.min.css" />
<script src="https://cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>
<script>
$(document).ready(function () {
    let table = new DataTable('#tableUsuario', {
        "processing": true,
        "serverSide": true,
        "language": {
            url: '//cdn.datatables.net/plug-ins/2.1.7/i18n/es-MX.json',
        },
        "ajax": {
            "url": "@Url.Action("Pagination", "Usuario")",
            "type": "POST",
            "dataType" : "JSON"
        },
        "pageLength": 5,
        "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "Todos"]],
        "filter": false,
        "responsivePriority": 1,
        "data": null,
        "filter" : true,
        "columns": [
            {"data": "IdUsuario", "name":"IdUsuario", "autoWidth":true},
            { "data": "Nombre", "name":"Nombre", "autoWidth":true},
            { "data": "ApellidoPaterno", "name":"ApellidoPaterno", "autoWidth":true},
            { "data": "ApellidoMaterno", "name":"ApellidoMaterno", "autoWidth":true},
            { "data": "FechaNacimiento", "name":"FechaNacimiento", "autoWidth":true}
        ]
    });
});


</script>
